<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.jensonphan.cs179.autocommit</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python3</string>
      <string>/Users/jensonphan/cs179/scripts/autocommit.py</string>
      <string>--repo</string>
      <string>/Users/jensonphan/cs179</string>
      <string>--idle-seconds</string>
      <string>300</string>
      <string>--push</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/jensonphan/cs179</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>60</integer>

    <key>StandardOutPath</key>
    <string>/Users/jensonphan/cs179/tmp/autocommit.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jensonphan/cs179/tmp/autocommit.log</string>
  </dict>
</plist>

